<!-- assume the playerCards and dealerCards arrays are already defined -->
<div>
  {{#each playerCards}}
    <img src="{{this.img_path}}">
  {{/each}}
</div>

<div>
  {{#each dealerCards}}
    <img src="{{this.img_path}}">
  {{/each}}
</div>

